body {
	text-align: center;
	background: #fff;
	font-family: 'PT Sans', sans-serif;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.logo img {
	max-width: 200px;
}

ul {
	list-style: none;
}

li {
	list-style: none;
	display: inline-block;
	margin: 10px;
}

li a {
	color: #000;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.form-item {
	display: block;
	width: 100%;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}